* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contentForm {
  display: flex;
  width: 100%;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

input {
  border: 1px solid #1c1a1d;
  padding: 0.5rem;
  background-color: #1c1a1d;
  border-radius: 0.2rem;
  width: 100%;
}

.categories > select {
  border: 1px solid #1c1a1d;
  padding: 0.5rem;
  background-color: #1c1a1d;
  border-radius: 0.2rem;
}

.description { 
  width: 89%;
  padding-bottom: 10px;
}

.description > textarea {
  border: 1px solid #1c1a1d;
  background-color: #1c1a1d;
  border-radius: 0.2rem;
  padding: .5rem;
}

.btn {
  display: flex;
  width: 100%;
  align-items: center;
}

.openBtn {
  background-color: #5BA7FD;
  border-radius: .3rem;
  color: #000;
  border: 1px solid transparent;
  transition: .3s ease-in;
  cursor: pointer;
  padding: .5rem 2rem;

  &:hover {
    border: 1px solid #5BA7FD;
    background-color: transparent;
    color: #fff;
    transform: scale(1.1);
  }
}
