.contentForm {
  display: flex;
  width: 100%;
  justify-content: center;
}

form > div {
}

input {
  border: 1px solid #1c1a1d;
  padding: 0.5rem;
  background-color: #1c1a1d;
  border-radius: 0.2rem;
  width: 20%;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.313);
}

.categories > select {
  border: 1px solid #1c1a1d;
  padding: 0.5rem;
  background-color: #1c1a1d;
  border-radius: 0.2rem;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.313);
}

.description {
  width: 80%;
  padding-bottom: 10px;
}

.description > textarea {
  border: 1px solid #1c1a1d;
  background-color: #1c1a1d;
  border-radius: 0.2rem;
  padding: 2rem;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.313);
}

.btn {
  display: flex;
  width: 100%;
  align-items: center;
}

.openBtn {
  background-color: #5ba7fd;
  border-radius: 0.3rem;
  color: #000;
  border: 1px solid transparent;
  transition: 0.3s ease-in;
  cursor: pointer;
  padding: 0.5rem 2rem;

  &:hover {
    border: 1px solid #5ba7fd;
    background-color: transparent;
    color: #fff;
    transform: scale(1.1);
  }
}
