.title {
  padding: 0 0 1rem 1rem;
  font-weight: 300;
  font-size: 3rem;
}

.dashContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 100%;
}

.dash {
  background-color: #1c1a1d;
  width: 25%;
  height: 145px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
  box-shadow: 1px 1px 6px #1c1a1d;
  overflow-x: auto;
  overflow-y: hidden;
}

.dash > p {
  background-color: transparent;
  font-size: 4rem;
}

table {
  border-collapse: collapse;
  margin-top: 2rem;
  width: 100%;
}

thead {
  background-color: #1c1a1d;
  box-shadow: 0 4px 16px -2px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.row table thead tr th {
  background-color: #1c1a1d;
  text-align: left;
}

.row table tbody td {
  text-align: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.row div {
  flex: 1 0 16rem;
}

.container {
  padding: 0;
}
